**/*.prj
!**/lab1.prj
!/Lab_2/uart.prj

**/csrc/
**/lab1/.*
**/simv.daidir/
**/verdiLog/
**/*_reports/
**/Run_Summary/
**/simv
*.vcd
*.vvp
**/Lab_1z/lab1/
/Lab_2/uart/
*.fsdb
*.log
*.fsdb.*
.vcs_checkpoint_*
ucli.key
novas.*
verdi_config_file

.vscode
