Magic 271485
Revision Verdi_V-2023.12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 2500 929 181 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/student/Documents/kdz/ASIC/labs/Lab_6/CDC_RDC/ff_synch_CDC/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 640000.000000
cursor 2388000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 3

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/student/Documents/kdz/ASIC/labs/Lab_6/CDC_RDC/ff_synch_CDC/inter.fsdb"
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/i_clk_a
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/i_rst_a
addSignal -h 15 /my_synchronizer_CDC_tb/next_data_clk_a
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/i_data_clk_a
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/r_data_clk_a
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/r_data_clk_b_sync
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/o_data_clk_b
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/i_rst_b
addSignal -h 15 /my_synchronizer_CDC_tb/my_synchronizer_i/i_clk_b
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

